body {
  font-family: Poppins;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgb(234, 237, 240);
}

.user-container {
  margin: 1rem;
  border-bottom: 3px solid;
  padding: 1rem;
}
.user-container input {
  height: 2.2rem;
  width: 10rem;
  margin: 1rem;
  font-size: 1.3rem;
}
.user-container button {
  border: 1px solid;
  border-radius: 10%;
  background-color: white;
  cursor: pointer;
  margin-left: 1rem;
  font-size: 1rem;
  padding: 0.5rem;
}
.user-container button:hover {
  background-color: transparent;
  transition: 0.5s;
}

.display {
  margin: 1rem;
  border-radius: 10px;
  border: 2px solid;
  padding: 1.5rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.display input {
  height: 1.9rem;
  width: 9rem;
  margin-left: 1rem;
  font-size: 1.3rem;
}
.display button {
  border: 1px solid;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  margin-left: 1rem;
  font-size: 1rem;
  padding: 0.5rem;
}
.display button:hover {
  background-color: transparent;
  transition: 0.5s;
}
